
#nav, #footer .footer-links, #feature a.prev, #feature a.next, a.print-preview {
    display: none;
}

@page { size: landscape; }

body {
   size: landscape;
   width: 99%;
   height: 90%;
}
#print, body, h1, h2, div, ol, ul {
    /*float:none;*/
    float: left;
    font-family: Arial, "Times New Roman", Times, serif;
    margin:0;
    padding:0;
    /*position:static;*/
    font-size: 12px;
}

h2 {
 font-size: 20px;
 font-weight: bold;
 text-align: center;
 margin-left: auto;
 margin-right: auto; 
}

h3 {
 font-size: 16px;
 margin-left: 20px;
 margin-top: 15px; 
}

h4 {
 font-size: 14px;
 margin-left: 20px;
 margin-top: 15px; 
}

#print {
  margin-top: 1.5em;
  width: 100%;
   /* height: 90%;*/
}

.info-data  {
   vertical-align: top;
   display: block;
   left: auto;
   right: auto;
   text-align: center;
   margin-bottom: 20px;
   margin-top: 20px;
}

.chartTitle  {
   display: block;
   left: auto;
   right: auto;
   text-align: center;
}

.sub-container {
    float: left;
}

#CPstat div   {
   display: inline;
   text-align: left;
   padding: 1px;
}
/*
.ChartL-print, .ChartR-print {
   display: inline-block !important;
} */

#CPstat  {
    /*vertical-align: top;
    display: block;*/
    left: auto;
    right: auto;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    /*width: 1050px;*/
    width: 600px;
}
