html {
	margin: 5px;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	font: 10pt verdana;
}

body {
	width: 1450px;
	height: 1200px;
	margin: auto auto;
	padding: 0;
}

td {
	white-space: nowrap;
	overflow: hidden;
}

tr {
	white-space: nowrap;
}

.td-center {
	text-align: center;
}
.td-right {
	text-align: right;
}

.ui-sortable li {
	height: auto !important;
}

#info {
	width: 100px;
	height: 20px;
	display: block;
	padding-top: 1px;
	posiotion: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -20px;
	text-align: center;
	font: bold 8pt Arial;
	weight: bold;
	color: #555555;
}
#CID {
	width: 500px;
	top:20px;
	height: 20px;
	display: block;
	padding-top: 1px;
	posiotion: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -20px;
	text-align: center;
	font: bold 8pt Arial;
	weight: bold;
	color: #555555;
	margin-top: 15px;
}
#HPage {
	width: 100%;
	display: block;
	padding-top: 10px;
	height: 57px;
}

#logo {
	background: url("/XMII/CM/Common/Images/logo_camozzi_automation.png") no-repeat scroll left top transparent;
	height: 57px;
	width: 70px;
	display: inline-block;
	float: left;
	margin-top: -10px;
}

#connection_ok {
	background: url("/XMII/CM/Common/Images/connection_ok_signal.png") no-repeat scroll left top transparent;
	height: 27px;
	width: 50px;
	display: inline-block;
	float: right;
	margin-top: -45px;
    margin-right: 370px;
}
#connection_err {
	background: url("/XMII/CM/Common/Images/connection_err_signal.png") no-repeat scroll left top transparent;
	height: 27px;
	width: 50px;
	display: inline-block;
	float: right;
	margin-top: -45px;
    margin-right: 370px;
}
#itlink {  /* ML 15/05/2019 */
	background: url("/XMII/CM/Common/Images/Logo_IT-Link.jpg") no-repeat scroll left top transparent;
	height: 67px;
	width: 80px;
	display: inline-block;
	float: right;
	margin-top: -10px;
	margin-right: 10px;
}
#TPage {
	width: 1100px;
	display: block;
	display: inline-block;
	float: left;
	text-align: center;
	margin-top: -10px;
}

/* Originale */
/*
#ourClock {
	width: 500px;
	display: block;
	display: inline-block;
    text-align: center;
	float: right;
	margin-top: -45px;
    margin-right: 770px;
}
*/

/* ML 19/04/2019 e 15/05/2019 */
#ourClock {
	position: absolute;
          	top: 100px;
	height: auto;
	width: 150px;
	display: inline-block;
            text-align: center;
	color: #EEEEEE;
	float: right; 
	font-weight: bold;
	/* background-color: #3c4856; */
	font-size: 1.1em;
	margin-right: 10px;
	margin-left: 120px;
}
/***************/

#theme li {
	list-style-type: none;
	text-transform: none;
}

#theme li a{
	list-style-type: none;
	text-transform: uppercase;
	text-decoration: none;
}

#theme li a:hover{
	text-decoration: underline;
	font-size: 105%;
	color: blue;
}

.ui-dialog-titlebar-close {
	visibility: hidden;
}

#container {
	/*text-align: center;*/
}

.display  {
	width: 100%;
}

.display tbody tr.even:hover, .display tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.display tbody tr.odd:hover, .display tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

.display tr.even:hover {
	background-color: #ECFFB3;
}

.display tr.odd:hover {
	background-color: #E6FF99;
}

.display tr.odd.row_selected:hover,  .display tr.even.row_selected:hover{
	background-color: #ECFFB3;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}

table.display tr.even.row_selected {
	border: solid 1px #000066;
}

table.display tr.odd.row_selected {
	border: solid 1px #000066;
}

.toolbar {
	padding: 3px;
	margin:  3px auto 3px auto;
}

.dataTables_filter, .dataTables_length, .dataTables_info {
	padding: 3px;
}
.ui-icon{
	float: left;
}
#txtValue {
	text-align: right
}

#txtChannel {
	text-align: center
}

.toolbar div {
	display: inline-block;
}

/* chiude Pannello generico */
.pclose {
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* Pannello generico */
.panel {
	padding: 8px;
}

.channels {
	margin: 3px;
}

.chnButtons {
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 140px;
}

.chnButtons input {
	border-radius: 0.5em 0.5em 0.5em  0.5em  ;
}

/* Pannello destro */
#dxpanel {
	height: 97%;
	right: 0;
	position: absolute;
	top: 3px;
	/*width: 120px;*/
	z-index: 1002;
	display: none;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.45);
	transition: transform 350ms ease 0s;
	background-color:  #44AACC;
	background: linear-gradient(#222244,#44AACC ) repeat scroll 0 0 #2222FF;
	border: 1px solid #444455;
	color: #fff;
	border-radius: 0.5em 0 0  0.5em  ;
}


/* Pannello sinistro */
#sxpanel {
	height: 97%;
	left: 0;
	position: absolute;
	top: 3px;
	/*    width: 300px;*/
	z-index: 1002;
	display: none;
	background-color:  #4444CC;
	box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15);
	transition: transform 350ms ease 0s;
	/*background: linear-gradient(#222244,#4444CC ) repeat scroll 0 0 #2222FF;*/
	background: linear-gradient(#222244,#44AACC ) repeat scroll 0 0 #2222FF;
	border: 1px solid #444455;
	color: #fff;
	border-radius: 0 0.5em 0.5em  0 ;
}

/* Pannello alto */
#tpanel {
	/*height: 60%;*/
	left: auto;
	right: auto;
	position: absolute;
	top: 0;
	width: 1255px;
	z-index: 100;
	display: none;
	background-color:  #44AACC;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
	transition: transform 350ms ease 0s;
	background: linear-gradient(#222244,#44AACC ) repeat scroll 0 0 #2222FF;
	border: 1px solid #444455;
	border-radius: 0 0 1em  1em  ;
	color: #fff;

	/*font-weight: 400;
	text-shadow: 0 1px 0 #111111;*/
}

#tpanel h2{
	text-align: center;
}
#tpanel #tp_close {
	position: absolute;
	top: 12px;
	right: 12px;
}

.order-list  {
	height: 700px;
	/* overflow: hidden; */
	text-align: left;
}

.ui-sortable {
	background-color: #eee;
	list-style: none;
	border-radius: 4px;
	padding-bottom: 5px;
	padding-left: 3px !important;
	padding-top: 5px;
	padding-right: 2px;
}

.ui-sortable li {
	font-size: 1.2em;
	height: 1.2em;
	line-height: 1.2em;
	margin: 2px 0;
	padding: 3px;
	text-align: left;
	/*  margin-left: -15px; */
	/* margin-right: 15px; */
}

.ui-sortable li:hover, .ui-state-default:hover {
	background: url("") repeat-x scroll #E6FF99;
	background-color: #E6FF99 !important;
	/*color: #fff;*/
	font: 120%;
}

.iBox{
	padding: 1px;
	outline-color: -moz-use-text-color;
	outline-style: none;
	border-radius: 2px;
}

.iBox:focus {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #C26800;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
	border-radius: 2px;
}

.info-block {
	padding: 2px;
	margin-right: 5px !important;
}

.info-block input{
	border-radius: 3px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 5px;
	margin-top: 3px;
}

.block-label{
	display: inline-block;
	width: 100px;
}

.info-data {
	padding: 2px;
	margin-left: 10px !important;
	margin-bottom: 3px;
	text-align: left;
}

.info-data div{
	border-radius: 3px;
	margin-left: 5px;
	margin-right: 5px;

	margin-top: 3px;
}

.locked {

}

.info-block:only-child {
	margin-right:  5px;
}

#waiting {
	padding: 10px;
	text-align: center;
	z-index: 1001 !important;
	minHeight: 100px;
	height: auto;
	height: 100px !important;
}

#waiting img{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.chnButtons label{
	border-radius: 6px  !important;
}

.ChartBox {
	background-color: #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	height: 455px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}


.txBox {
	background-color: #FFFFFF;
	margin-left: 5px;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.ChartL {
	vertical-align: top;
	display: inline-block;
	float: left;
}

.ChartR {
	vertical-align: top;
	display: inline-block;
	float: right;
}

.ChartBox div {
	vertical-align: top;
	display: block;
}

.outTollerance {
	background-color: red !important;
	color: white;
	font-weight: bold;
}

table.display tr.even.row_selected.outTollerance td {
	background-color: #CC0000 !important;;
	border: solid 1px white;
}

table.display tr.odd.row_selected.outTollerance td {
	background-color: #CC0000 !important;;
	border: solid 1px white;
}

table.display tr.even.row_selected.outDate td {
	background-color: #FF9900 !important;;
}

table.display tr.odd.row_selected.outDate td {
	background-color: #FF9900 !important;;
}

.outDate {
	border: solid 2px red;
	background-color: #FFFFCC !important;
	font-weight: bold;
}

#CPstat  {
	vertical-align: top;
	display: block;
	left: auto;
	right: auto;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 10px;
}

.chartTitle  {
	display: block;
	left: auto;
	right: auto;
	text-align: center;
}

#CPstat div   {
	display: inline;
	text-align: left;
	padding: 1px;
	margin-right: 5px;
}

#print {
	width: 1000px;
	height: 100%;
}

.ChartL-print, .ChartR-print {
	display: inline-block !important;
}

#ui-accordion-resChartpp_block-panel-0{
	background-color: white !important;
	padding: 0 !important;
}

#del-item{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	width: 50%;
}

.viewer
{
	width: 100%;
	height: 765px;
	position: relative;
}
.viewer img
{
	left: 10px !important;
}

.wrapper
{
	overflow: hidden;
}

.CHAR_EVID1
{
	color: orange;
	text-align: left;
}

.CHAR_EVID2
{
	color: red;
	text-align: left;
}

.CHAR_EVID3
{
	color: limegreen;
	text-align: left;
}

