	  <DIV class="ChartL">
		  <APPLET NAME="Chart1" id="Chart1" CODEBASE="/XMII/Classes" CODE="iSPCChart" ARCHIVE="illum8.zip" WIDTH="610" HEIGHT="320" MAYSCRIPT="false" scriptable="false">
			  <PARAM NAME="QueryTemplate" VALUE="QM_Measures/Measures/GetResultsChartQR">
			  <PARAM NAME="DisplayTemplate" VALUE="QM_Measures/Measures/GetMisuresCR">
			  <PARAM NAME="Param.1" VALUE="{Param1}">
			  <PARAM NAME="Param.2" VALUE="{Param2}">
			  <PARAM NAME="Param.3" VALUE="{Param3}">					
			  <PARAM NAME="Title" VALUE="Carta SPC x/r">
			  <PARAM NAME="ChartType" VALUE="XBAR-RANGE">
		  </APPLET> 
	  </div>
	  <DIV class="ChartR">
		  <APPLET NAME="Chart2" id="Chart2" CODEBASE="/XMII/Classes" CODE="iSPCChart" ARCHIVE="illum8.zip" WIDTH="320" HEIGHT="280" MAYSCRIPT="false">
			  <PARAM NAME="QueryTemplate" VALUE="QM_Measures/Measures/GetResultsChartQR">
			  <PARAM NAME="DisplayTemplate" VALUE="QM_Measures/Measures/GetMisuresCR">
			  <PARAM NAME="Param.1" VALUE="{Param1}">
			  <PARAM NAME="Param.2" VALUE="{Param2}">
			  <PARAM NAME="Param.3" VALUE="{Param3}">	
			  <PARAM NAME="ChartType" VALUE="HISTOGRAM">
			  <PARAM NAME="Title" VALUE="Istogramma Misure">
		  </APPLET>
	  </div>						